body {
	background-color: #add8e6;
}
/* grid for desktop*/
.grid-container {
  display: grid;
  grid-template-columns: 15% 30% 40% 15%;
	grid-gap: 10px;
	Padding: 10px;
}
.myskills {
	grid-column: 2 / 3;
}
.aboutme {
	grid-column: 3 / 4;
}
/* For mobiles and tablets */
@media screen and (max-width: 480px) {
    .grid-container {
  display: grid;
  grid-template-rows: auto auto;
	grid-gap: 10px;
	Padding: 10px;
	}
	.myskills {
	grid-row: 0 / 2;
	}
	.aboutme {
	grid-row: 1 / 3;
	}
}
.grid-container > div {
	background-color: #0191C8;
	border-radius: 5px;
	Padding: 10px;
}
	
